doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title 体重記録簿
  body
    h1 体重記録簿
    a(href='/logout') ログアウト
    form(method="post" action="/posts")
      div
        p 〇月〇日
        textarea(name="weight" cols=10 rows=1)
      div
        button(type="submit") 登録
